<div id="book" class="animated fadeIn">
    <div class="row justify-content-center">
        {{>bookDate}}
        <div class="col-md-auto">
            {{#loop 1 3 1}}
                <button class="btn btn-dark btn-sm preset" type="button">{{this}} Hours</button>
            {{/loop}}
        </div>
        {{>confirm}}
    </div>
</div>