<div id="book" class="animated fadeIn">
    <div class="row justify-content-center">
        <form id="bookingForm" class="form-inline" action="/:id" method="post">
        <input type="time" id="currentTime" name="time" hidden>
        <div class="col-md-auto">
            <button title="Book this room at a later date" id="bookLater" class="btn btn-dark" type="button" data-toggle="modal" data-target="#bookAt">Book later</button>
            {{>bookLater}}
        </div>
        {{>durationSelection}}
        {{>confirm}}
        </form>
    </div>
</div>

<script src="/client/js/booking.js"></script>
<script src="/client/js/fixInput.js"></script>