<div id="book" class="animated fadeIn">
    <div class="row justify-content-center">
        <form id="bookingForm" class="form-inline" action="/:id" method="post">
        <input type="time" id="currentTime" name="time" hidden>
        <div class="col-md-auto">
            <button id="bookLater" class="btn btn-dark" type="button">Book later</button>
        </div>
        <div class="col-md-auto">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                {{#loop 1 3 1}}
                    <label class="btn btn-dark">
                        <input type="radio" value="{{this}}"name="duration"> {{this}} hour(s)
                    </label>
                {{/loop}}
            </div>
        </div>
        {{>confirm}}
        </form>
    </div>
</div>

<script src="/client/js/booking.js"></script>