<div class="col">
    <div class="float-right">
        <button class="btn btn-outline-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ---
        </button>
        <ul class="dropdown-menu text-center" aria-labelledby="hours">
            <li class="dropdown-header">Hours</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
    </div>
</div>