<div class="col">
    <div>
        <button class="btn btn-outline-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ---
        </button>
        <ul class="dropdown-menu text-center" aria-labelledby="hours">
            <li class="dropdown-header">Minutes</li>
            {{#loop 1 5 10}}
                <li class="dropdown-item">
                    {{this}}
                </li>
            {{/loop}}
        </ul>
    </div>
</div>