<div class="col-md-auto">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
            <input type="radio" name="time" id="option1" value="30min" checked> 30 min
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="time" id="option2" value="1hour"> 1 hour
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="time" id="option3" value="other"> Other
        </label>
    </div>
</div>