<div class="col">
    <div>
        <button class="btn btn-outline-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ---
        </button>
        <label class="text-light">Minutes</label>
        <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="hours">
            <li>10</li>
            <li>20</li>
            <li>30</li>
        </ul>
    </div>
</div>