<div class="col-md-auto">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-dark active">
            <input type="radio" name="time" value="30min" checked> 30 min
        </label>
        <label class="btn btn-dark">
            <input type="radio" name="time" value="1hour"> 1 hour
        </label>
        <label class="btn btn-dark">
            <input type="radio" name="time" value="other"> Other
        </label>
    </div>
</div>