<div class="col-md-auto">
    <button id="modalToggleUsername" title="Upon confirmation you will be asked to enter your username" class="btn btn-dark"  data-target="#exampleModal" type="button">Confirm</button>
-    {{>login}}
</div>
