<nav>
    <ol class="breadcrumb">
        {{#if room.id}}
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{room.id}}</li>
        {{else}}
            
            <li class="breadcrumb-item active"><a href="/"><i class="fas fa-home fa-fw"></i>Home</a></li>
        {{/if}}
    </ol>
    <img src="/client/imgs/url.png">
</nav>