{{#if room.available}}
    <h1 id="state" class="text-center animated fadeIn" data-toggle="tooltip" data-placement="top" title="This room is currently available!">Available</h1>
    {{>booking}}
{{else}}
    <h1 id="state" class="text-center animated fadeIn" data-toggle="tooltip" data-placement="top" title="This room is currently available!">Unavailable</h1>
    
{{/if}}

{{#if room.willBeAvailable}}
    <h3 id="booking-end-time"><strong>{{room.id}}</strong> will be available after <strong>{{room.willBeAvailable}}</strong></h3>
    <form action="/:id" method="post">
        <input type="submit" class="btn btn-dark" value="Cancel booking" name="cancelBooking">
        <input type="hidden" value={{room.id}} name="roomID">
    </form>
{{/if}}

{{>flash}}

<h1 id="clock" class="text-center animated slideInUp" data-toggle="tooltip" data-placement="top" title="Current time!"></h1>