{{#if room.available}}
    <h1 id="state" class="text-center animated fadeIn" data-toggle="tooltip" data-placement="top" title="This room is currently available!">Available</h1>
{{else}}
    <h1 id="state" class="text-center animated fadeIn" data-toggle="tooltip" data-placement="top" title="This room is currently available!">Unavailable</h1>
    
{{/if}}

{{#if room.willBeAvailable}}
    <h3>This room will be available after <strong>{{room.willBeAvailable}}</strong></h3>
{{/if}}

{{>flash}} 
{{>booking}}
<h1 id="clock" class="text-center animated slideInUp" data-toggle="tooltip" data-placement="top" title="Current time!"></h1>