    <h1>Room booker</h1>
    <form action="/" method="post">
        <input type="text" name="startTime" placeholder="starttid"/>
        <input type="text" name="length" placeholder="Hur lång tid?"/>
        <input type="text" name="username" placeholder="username"/>
        <input type="text" name="roomName" placeholder="room"/>
        <input type="submit" />
    </form>