<!doctype html>
<html>
    {{>head}}
    <body>
        {{>nav}}
        <h1 class="text-center animated fadeIn">Available</h1>
        {{>booking}}
        <h1 id="clock" class="text-center animated slideInUp"></h1>
    </body>
    <script src="/client/showTime.js"></script>
</html>