body {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("/client/imgs/background.png") no-repeat center center fixed;
  background-blend-mode: overlay;
  background-color: transparent;
  opacity: 0.9;
  margin: 0 0; }
  body img {
    position: fixed;
    bottom: 0;
    left: 5px;
    max-width: 300px;
    max-height: 300px; }

nav img {
  position: absolute;
  left: auto;
  bottom: auto;
  top: 7px;
  right: 20px;
  max-width: 200px;
  max-height: 30px; }

h1 {
  font-size: 6em;
  color: black;
  font-family: "Helvetica"; }

h4 a {
  color: #212529 !important; }

.container {
  margin-top: 75px; }

.modal-backdrop {
  display: none; }

.btn-outline-dark {
  color: white !important;
  border-color: white !important; }

.card:hover {
  background-color: rgba(0, 0, 0, 0.1) !important; }

.card {
  color: black; }

.breadcrumb-item a {
  color: white; }

.breadcrumb-item.active {
  color: white; }

.dropdown-menu {
  min-width: 75px !important; }

.breadcrumb {
  background-color: rgba(0, 0, 0, 0.5) !important; }

.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.1); }

.alert-danger {
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
  width: 50%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); }

#clock,
#book {
  position: absolute;
  width: 100%; }

#clock {
  top: 70%;
  color: black;
  margin-bottom: 0; }

#book {
  top: 45%;
  background-color: rgba(0, 0, 0, 0.5); }

#available {
  background-color: rgba(0, 255, 0, 0.4); }

#unavailable {
  background-color: rgba(255, 0, 0, 0.5); }

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none; }

  .fail {
    font-family: Helvetica;
    color: black;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    width: 600px;
    padding: 10px;
    margin: auto;
}

/* h3-tag i specificRoom.hbs */
#booking-end-time {
  text-align: center;
}
#filter {
  position: absolute;
  right: 140px;
  top: 8px; }
